/*----------------------default-config-----------------------------------*/
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
    --highlighted-title-color: #4A4E69;
    --paragraph-color: #23053A;
    --header-bg-color: #8E9AAF;
    --emphasis-color: #CBC0D3;
    --body-bg-color: #EFF1FF;
    --tittle-font: 'Staatliches', cursive;
    --body-font: 'Palanquin', sans-serif;
}
body {
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    min-width: 36rem;
    max-width: fit-content;
    margin: auto;
}
/*----------------------header-----------------------------------*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 3.2rem 2.9rem;

    background: var(--header-bg-color);
    font-family: var(--tittle-font);
}
header h1 {
    text-align: center;
    width: 100%;
    background: var(--emphasis-color);
    color: white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 4rem;
    line-height: 3.4rem;
    letter-spacing: .2rem;
    padding-block: .8rem;
}